.km-cursor-pointer{
	cursor: pointer;
}

.km-bg-1{
	background: #498CD1;
}

.km-bg-2{
	background: #5A589A;
}

.km-bg-3{
	background: #699AB2;
}

.km-bg-4{
	background: #FFBB5D;
}

.km-bg-5{
	background: #A9F8FF;
}